html {
    height:100%;
}

body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

header {
    display:flex;
    justify-content:center;
}

.container {
    width:1000px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.sidebar {
    display:flex;
    flex-direction:column;
    justify-content:space-around;

}
.buttons {
    display:flex;
    flex-direction:column;
    gap:32px;
}


.grids {
    display:grid;
    width:700px;
    height:700px;

}

.grid-item {
    border: 1px solid black;
    display: inline-block;
    margin:0px;
    background-color:#d3d3d3;
}

.slide {
}
.slider {
    -webkit-appearance: none;
    appearance:none;
    height: 25px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color:#d3d3d3;
}

.slider:hover {
    opacity:1; /*Full shown for mouseover*/
}

.slider::-webkit-slider-thumb {
    -webkit-appearance:none;
    appearance:none;
    width:25px;
    height:25px;
    cursor:pointer;
    background:black;
}

footer {
    display:flex;
    justify-content:center;
}
